
.home-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  p {
    font-size: 16px;
    color: #555;
  }
  
  .sections {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .section {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 30%;
    cursor: pointer; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .section:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15); 
  }
  
  .section h2 {
    color: #99bbee;
  }

  
  .section p {
    font-size: 14px;
    color: #333;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  